.storyboard-icon {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
}
.storyboard-icon:not(.stroke-icon) svg {
  fill: currentColor;
}
.storyboard-icon.stroke-icon svg {
  fill: none;
}
