.containerOuter {
  display: flex;
  justify-content: center;
  max-width: 100vw;
}

.container {
  padding: var(--stack-padding-normal);
  max-width: 920px;
}

.title {
  font-size: var(--text-title-size-small);
  font-weight: var(--base-text-weight-semibold);
  margin-bottom: var(--base-size-8);
}

.codeBlock {
  padding: var(--stack-padding-normal);
  background-color: var(--bgColor-muted);
  border-radius: var(--borderRadius-medium);
  overflow: auto;
  font-size: var(--text-body-size-small);
  font-family: var(--fontStack-monospace);
  line-height: var(--text-body-lineHeight-medium);
  max-height: 70vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--stack-gap-condensed);
  max-width: 320px;
}
